@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.EventsModel
@{
    ViewBag.Title = "Events";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

@Html.ActionLink("Create New Event", "New")
<br />
<br />
@Html.EventsGrid(Model.Events)
<br />
This is a <a href="http://transappapi.apphb.com/api/event">link</a> to the Event Api.