@{
    ViewBag.Title = "Contact";
    ViewBag.Title = "Our contact page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    
    <p>
        We are building a Platform for managing deliveries. If you have any comments, suggestions or want more info please feel free to contect us.
    </p>
    <p>
    Thanks the TransApp Team
    </p>
 </section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Matti:</span>
        <span><a href="mailto:mattiba@gmail.com">mattiba@gmail.com</a></span>
    </p>
</section>