@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.ContactsModel
@{
    ViewBag.Title = "Contacts";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

@Html.ActionLink("Create New Contact", "New")
<br />
<br />
@Html.ContactsGrid(Model.Contacts)
<br />
This is a <a href="http://transappapi.apphb.com/api/contact">link</a> to the Contact Api.