@using TransAppWebSite.Utilities
@model TransAppWebSite.Models.UsersModel
@{
    ViewBag.Title = "Users";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
        </div>
    </section>
}

@Html.ActionLink("Create New User", "New")
<br />
<br />
@Html.UsersGrid(Model.Users)
<br />
This is a <a href="http://eventapi.apphb.com/api/user">link</a> to the User Api.